/* Stylesheet made by Jenny Chen */ 

body {
	background-color: white;
}

.header {
	padding: 4em 0em 2em 0em;
	background-image: url('http://freewallsource.com/img/2014/3/dawn-wallpaper-16130-16833-hd-wallpapers.jpg');
	position: relative;
	width: ;
}

.search {
	padding: 4em 0em 2em 0em;
}

.addPoem {
	padding: 4em 0em 2em 0em;
}

.background {

}